
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --bg-color:#e0e0e0;
    --text:#ec18b3;
    --primary:#007bff;

    --active:#4c4c4c;
    --active-dark:#0a5165;
    --normal:#edf0ee;

}

*{
      font-family: "Roboto", sans-serif;
      margin: 0;
      padding: 0;

    
}
a{
    text-decoration: none;
    color:white
    }

body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color);
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #0a5165;
}
.logo{
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--normal);
    
}
.nav-links a.active{
    color: var(--primary);
    font-weight: bold;
}
.nav-links{
    display: flex;
    list-style: none;
    color: white;
    
}
.nav-links li{
    display: inline-block;
    padding:0 10px;
    color: white;
}

.action{
    padding: 8px 25px;
    background-color: var(--normal);
    border-radius: 20px;
    color: var(--active-dark);
}
p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--active);
    margin-bottom: 16px;
    
}

.showcase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto; 
    min-height: 50vh;
    margin-top: 40px;
}
.showcase-text h1{
    font-size: 2%;
    color: var(--active);
    margin-bottom: 20px;
}
.showcase-content h1{
    font-size: 3.5rem;
    color: var(--active);
    margin-bottom: 20px;
    line-height: 1.2;
}
.showcase-content p{
    font-size: 1.6rem;
    color: var(--active);
    margin-bottom: 20px
}
.cta-button{
    display: inline-block;
    background: var(--active-dark);
    color: var(--normal);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-size: 2rem;

}
.cta-button:hover{
    background: var(--active);
    color: var(--normal);
}
.showcase-content{
    max-width: 600px;
    padding-right: 50px;
}
.showcase-image img{
    width: 500px;
    height: 400px;
    border-radius: 10px;

}
.footer {
  text-align: center;
  background-color: var(--active-dark);
  color:var(--bg-color);
  padding: 10px 0;
  margin-top: 60px;
  font-size: 14px;
}

/* footer paragraph color for better contrast */
.footer p {
        color: #ffffff; /* use white so text is readable on dark footer */
}


